body {
  background-color: #eee;
}
h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 20px;
  margin: 20px;
  padding: 5px;
  width: 350px;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.endpoints-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: auto;
}
